body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  background-color: #f4f4f4;
}
header {
        background-color: #e6e47b;
        color: white;
        padding: 3.5px 0;
        text-align: center;
        }
        footer {
        background-color: #333;
        color: white;
        text-align: center;
            padding: 3.5px 0;
            position: bottom;
            width: 100%;
            bottom: 0;
        }
        main {
            padding: 5px;
        }
        hr {
            border-color:bisque;
        }
        img {
            border: 4.5px solid #e6e47b;
        }
        h1, h2 {
            color: #333;
        }
        a {
            color: #333;
            text-decoration: none;
             
        }
        a:hover {
            text-decoration: bold;
        }
        p {
            line-height: 1.6;
        }
        ul {
            list-style-type: square;
        }