body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
}

header {
    background-color: #e6e47b;
    color: white;
    padding: 4px 0;
    text-align: center;
    position: fixed;
}

footer {
    background-color: #333;
    color: white;
    text-align: center;
    padding: 3.5px 0;
    position: fixed;
    width: 100%;
    bottom: 0;
}

main {
    padding: 5px;
}

hr {
    border-color: bisque;
    position: fixed;
}

img {
    border: 4.5px solid #e6e47b;
}

h1, h2 {
    color: #333;
}

table, tr, th, td {
    border: 5px groove #e6e47b;
    padding: 2.5px;
    border-spacing: 3.75px;
    text-align: left;
    color: #333;
    background-color: #eeeda3;
}

a {
    color: #333;
    text-decoration: none;
}